# Ignora los archivos de configuración de Visual Studio Code
.vscode/

# Ignora los archivos de construcción y depuración
Debug/
Release/
*.o
*.obj
*.exe
*.out
*.a
*.so
*.lib
*.dll
*.dylib
*.pdb
*.ilk
*.idb
*.prl
*.d
*.ipch
*.pch
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.sln.cache
*.sln.docstates
*.sln.ide/

# Ignora los archivos temporales
*.tmp
*.bak
*.swp
*.swo
*.swn
*.orig
*.rej
*.log
*.pyc
*.pyo
*.rbc
*.swp
*.swo
*.swn
*.class
*.com
*.dll
*.exe
*.o
*.so
*.log
*.sql
*.sqlite

# Ignora los archivos del sistema
.DS_Store
Thumbs.db